/*---------------------
VARIABLES
---------------------*/
//Colors
$backgroundDark: #2e2e2e; //#2f2519;
$backgroundLightDark: #6e6e6e;

$specialText: #fa7d09;
$blend: rgb(255, 189, 66);

$underLineColor: #ff4301;

//Fonts
$unna: 'Unna', serif; //Titles
$exo: 'Exo', sans-serif; //Teaser
$nunito: 'Nunito Sans', sans-serif; //Text


/*---------------------
MIXINS
---------------------*/
@mixin flexBetween($direction) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexAround($direction) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

//All
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar{
        display: none;
    }
}

html { scroll-behavior: smooth; }

//Header
header{

    .desktopMenu{
        @include flexBetween(row);
        background-color: $backgroundDark;
        box-shadow: 0px 0px 10px $underLineColor;
        padding-top: 1%;
        position: fixed;
        top: 0;
        width: 100%;
    
        .active{
            color: $specialText;
        }
    
        .brandName{
            padding-left: 3%;
            padding-bottom: .5%;
            h1{
                color: whitesmoke;
                font-size: 1.5rem;
                font-family: $nunito;
    
                span{
                    color: $specialText;
                }
            }
            
        }
    
        nav{
           width: 40vw;
            ul{
                list-style: none;
                @include flexAround(row);
                a{
                    text-decoration: none;
                    color: $backgroundLightDark;
                    font-family: $exo;
                    font-size: 1.2rem;
    
                    &:hover {
                        color: $specialText;
                    }                
                }
            }
        }
    
        .icons{
            padding-bottom: 1%;
            margin-left:20% ;
            width: 20%;
            svg{
                cursor: pointer;
                margin-right: 10%;
                &:hover{
                    fill: $specialText;
                }
            }
        }
    }
    
}

.mobileMenu{
    display: none;
}

//about
.mainLogo{
    @include flexCenter(column);
    padding-top: 10%;
    background-color:$specialText;
    background-image: url('../img/linzBg.webp');
    background-size: cover;
    background-blend-mode: multiply;
    background-position-y:95%;
    border-bottom: .5px solid $underLineColor;

    h2{
        color: whitesmoke;
        font-family: $exo;
        text-shadow: 2px 2px 10px $backgroundLightDark;
    }

    .upper{
        margin-top: 1%;
        font-size: 2rem;
        font-weight: 300;
        text-shadow: 0 0 10px $backgroundDark;

        span{
            color: $specialText;
        }
    }

    .middle{
        font-size: 1.4rem;
        font-weight: 300;
        text-shadow: 0 0 10px $backgroundDark;
    }

    .lower{
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 1.2rem;
        font-weight: 200;
        text-shadow: 0 0 10px $backgroundDark;
    }

    .logo{
        @include flexAround(row);
        margin-top: 0;

        h1{
            padding-top: 7%;
            color: whitesmoke;
            font-family: $nunito;
            font-size: 5rem;
            font-weight: bold;
            text-shadow: 1px 1px 10px $backgroundLightDark;

            span{
                color: $specialText;
            }
        }
    }
}

//about us
.aboutUs{
    background-color: $backgroundDark;

    .philosophy{
        @include flexCenter(column);

        h2{
            font-family: $exo;
            font-weight: bolder;
            font-style: italic;
            font-size: 2.5rem;
            color: $specialText;
            border-bottom: 2px dashed $underLineColor;
            margin-top: 10%;
        }

        p{
            font-family: $nunito;
            font-weight: 200;
            font-size: 1.3rem;
            color: whitesmoke;
            width: 60%;
            text-align: center;
            margin-top: 2%;
            margin-bottom: 1%;

            span{
                color: $specialText;
            }
        }

        a{
            text-decoration: none;
            color: $backgroundDark;
            border-radius: 2rem;
            padding: 1%;
            background-color: $specialText;
            font-family: $exo;
            font-weight: bold;
            font-size: 1.2rem;

            &:hover{
                box-shadow: 0 0 10px $specialText;
            }
        }
    }
}

//offers
.offers{
    background-color: $backgroundDark;

    .image{
        height: 50vh;
        width: 35vw;
        background-color: #fa7d09;
    }

    .text{
        width: 35%;

        h2{
            font-family: $exo;
            font-weight: bolder;
            font-style: italic;
            font-size: 2.3rem;
            color: $specialText;
        }

        p{
            font-family: $nunito;
            font-weight: 200;
            font-size: 1.1rem;
            color: whitesmoke;
        }

        a{
            text-decoration: none;
            border-radius: 2rem;
            border: 2px solid $specialText;
            color: $specialText;
            padding: 1.5%;
            font-family: $exo;
            font-weight: 200;
            font-size: .8rem;

            &:hover{
                background-color: $specialText;
                color: $backgroundDark;
                font-weight: 300;
            }
        }
    }

    .photography{
        @include flexAround(row);
        padding-top: 20%;

        .image{
            background-image: url('../img/photography.webp');
            background-size: cover;
            background-color: $specialText;
            background-blend-mode: multiply;
            background-position-y: 15%;
        }
    }

    .graphicDesign{
        @include flexAround(row-reverse);
        padding-top: 30%;

        .image{
            background-image: url('../img/graphicDesign.webp');
            background-size: cover;
            background-color: $specialText;
            background-blend-mode: multiply;
            background-position-y: 15%;
        }
    }

    .webDesign{
        @include flexAround(row);
        padding-top: 30%;
        padding-bottom: 20%;

        .image{
            background-image: url('../img/web.webp');
            background-size: cover;
            background-color: $specialText;
            background-blend-mode: multiply;
            background-position-y: 15%;
        }
    }
}

//projects
.projects{
    background-color: $backgroundDark;
    padding-bottom: 10%;
    @include flexCenter(column);
    
    .projectTitle{
        h2{
            font-family: $exo;
            font-weight: bolder;
            font-style: italic;
            font-size: 2.3rem;
            color: $specialText;
            text-align: center;
            border-bottom: 2px dashed $underLineColor;
            margin-bottom: 10%;
        }
    }

    .projectGrid{
        width: 85%;
        height: 80vh;
        display: grid;
        padding: 1% 1%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas: 
        "a a b b b c e e e"
        "f f g g g g e e e"
        "f f g g g g e e e";

        .project1{
            grid-area: a;
            cursor: pointer;
            background-image: url('../img/projectOne.webp');
            background-size: cover;
            filter: grayscale(100%);
            box-shadow: 0 0 5px $specialText;

            &:hover{
                filter: none;
            }
        }
        .project2{
            grid-area: b; 
            cursor: pointer;
            background-color: $specialText;
            background-image: url('../img/projectThree.webp');
            background-blend-mode: multiply;
            background-size: cover;
            background-position-y: 70%;
            box-shadow: 0 0 5px whitesmoke;

            &:hover{
                background-color: white;
            }
        }
        .project3{
            grid-area: c; 
            cursor: pointer;
            background-image: url('../img/projectTwo.webp');
            background-size: cover;
            background-position-x: 50%;
            filter: grayscale(100%);
            box-shadow: 0 0 5px $specialText;

            &:hover{
                filter: none;
            }
        }

        .project5{
            grid-area: e;  
            cursor: pointer;
            background-color: $specialText;
            background-image: url('../img/projectFour.webp');
            background-blend-mode: multiply;
            background-size: cover;
            background-position-y: 70%;
            box-shadow: 0 0 5px whitesmoke;

            &:hover{
                background-color: white;
            }
        }
        .project6{
            grid-area: f; 
            cursor: pointer;
            background-color: $specialText;
            background-image: url('../img/projectFive.webp');
            background-blend-mode: multiply;
            background-size: cover;
            background-position-y: 70%;
            box-shadow: 0 0 5px whitesmoke;

            &:hover{
                background-color: white;
            }
        }
        .project7{
            grid-area: g; 
            cursor: pointer;
            background-image: url('../img/projectSix.webp');
            background-size: cover;
            background-position-x: 50%;
            filter: grayscale(100%);
            box-shadow: 0 0 5px $specialText;

            &:hover{
                filter: none;
            }
        }

    }
}

//customers
.customers{
    @include flexCenter(column);
    background-color: $backgroundDark;
    padding: 10% 0;

    .titleCustomers{
        h2{
            font-family: $exo;
            font-weight: bolder;
            font-style: italic;
            font-size: 2.5rem;
            color: $specialText;
            border-bottom: 2px dashed $underLineColor;
        }
    }

    .customersLogo{
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 100vw;
            height:65vh;
            padding-left: 20%;
            padding-top: 5%;
            
            li{
                list-style: none;  

                img{
                    cursor: pointer;
                    border-radius: 1rem;

                    &:hover{
                        box-shadow: 0 0 100px $specialText;
                    }
                }
            }
        }
    }

    p{
        text-align: center;
        color: whitesmoke;
        font-family: $exo;
        font-size: 1.2rem;

        span{
            color: $specialText;
            font-size: 1.5rem;
        }
    }
}

//contact us
.contactUs{
    @include flexCenter(column);
    background-color: $specialText;;
    padding-top: 5%;
    box-shadow: 0 0 10px $specialText;

    .contactTitle{
        @include flexCenter(column);

        h2{
            font-family: $exo;
                font-weight: bolder;
                font-style: italic;
                color: $backgroundDark;
                border-bottom: 2px dashed whitesmoke;
                text-align: center;
                margin-bottom: 3%;
                font-size: 2.5rem;
        }
    
        p{
            font-family: $nunito;
            font-weight: 200;
            font-size: 1.3rem;
            color: $backgroundDark;
            width: 51%;
            text-align: center;

            span{
                color: whitesmoke;
                text-align: center;
                font-size: 1.5rem;
            }
        }
    }
   
    form{
        padding: 2%;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "name email"
        "msg msg"
        "none submitBtn"
        ;

        #name{
            grid-area: name;
            padding-right: 3%;
        }

        #email{
            grid-area: email;
            padding-left: 3%;
        }

        #msg{
            grid-area: msg;
        }

        #submitBtn{
            grid-area: submitBtn;
            display: flex;
            justify-content: flex-end;
        }

        .form-group{
            font-family: $exo;
        }

            button{
                margin-top: 2%;
                padding: 1%;
                border: 2px solid whitesmoke;
                border-radius: 2rem;
                font-weight: 400;
                background-color:$specialText;
                color: whitesmoke;
    
                &:hover{
                    box-shadow: 0 0 10px whitesmoke;
                }
            } 
    }
}

//footer
footer{
    background-color: $backgroundDark;
    color: $specialText;
    text-align: center;
    overflow-y: hidden;
    border-top: 2px solid $underLineColor;
    
    h4{
        font-family: $nunito;
        font-size: 1rem;
        font-weight: bold;
        padding-top: .5%;
    }
}

//modes
.lightModeBackground{
    animation: fadein .5s;
    background-color: whitesmoke;
}

.lightModeBackgroundNav{
    animation: fadein .5s;
    background-color: rgb(221, 221, 221);
}

//scroller
.fastScroller{
    @include flexCenter(column);
    position: fixed;
    right: 1.5%;
    top: 40%;
    .scrollGroup{
        margin: 20% 0;
        border-radius: 50%;
        cursor: pointer;

        &:hover{
            border: 1px solid $backgroundLightDark;
        }

        a{
            .dot{
                background: $backgroundLightDark;
                border-radius: 50%;
                width: 8px;
                height: 8px;
                margin: 5px;
            }
        }
    }

    .connectLine{
        width: 1px;
        height: 12px;
        background-color: $backgroundLightDark;
    }
}

//thanks
.thx{
    width: 100vw;
    height: 100vh;
    @include flexCenter(column);
    background-color: $backgroundDark;

    h1{
        font-family: $exo;
        font-weight: bolder;
        font-style: italic;
        color: $specialText;
        border-bottom: 2px dashed $underLineColor;     
    }

    p{
        color: whitesmoke;
        font-family: $nunito;
        font-weight: 300;
    }

    svg:hover{
        fill: $specialText;
    }
}

//projects
.projectMainSite{
    height: 100vh;
    width: 100vw;
    background-color: $backgroundDark;
    @include flexCenter(column);

    h1{
        font-family: $exo;
        font-weight: bolder;
        font-style: italic;
        color: $specialText;
        border-bottom: 2px dashed $underLineColor;
    }

    svg:hover{
        fill: $specialText;
    }
}

//team
.mainTeamSite{
    height: 100vh;
    width: 100vw;
    background-color: $backgroundDark;
    @include flexCenter(column);

    h1{
        font-family: $exo;
        font-weight: bolder;
        font-style: italic;
        color: $specialText;
        border-bottom: 2px dashed $underLineColor;
    }

    svg:hover{
        fill: $specialText;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (max-width: 768px){
    .offers{
        @include flexCenter(column);

        .photography, .graphicDesign, .webDesign{
            @include flexCenter(column);

            .text{
                width: 80%;
            }

            .image{
                width: 600px;
                height: 400px;
                margin-top: 5%;
            }
        }
    }
}

@media (max-width: 690px){
    .desktopMenu{
        display: none;
        .brandName{
            display: none;
        }
        .icons{
            display: none;
        }
        nav{
            display: none;
        }
    }

    .mobileMenu{
        @include flexBetween(row);
        padding: 5% 5%;
        background-color: $backgroundDark;
        border-bottom: 1px solid $underLineColor;

        .burgerMenu{
            cursor: pointer;
        }

        .brandNameMobile{
            h1{
                color: whitesmoke;

                span{
                    color: $specialText;
                }
            }
        }

        .mobileNav{
            animation:fadein .5s ;
            display: none;
            position: absolute;
            top: 0vh;
            right: 0vw;
            height: 100vh;
            width: 100vw;
            background-color: rgba(37, 37, 37, .8);
            margin: 0;
            padding: 0;
             ul{
                @include flexCenter(column);
                list-style: none;

                .closeMenu{
                    position: relative;
                    right: 5%;
                }
                
                a{
                    text-decoration: none;
                    color: whitesmoke;
                    padding-right: 8vw;
                    font-size: 2rem;
                    padding-bottom: 10%;
                    padding-top: 10%;
                }
             }
        }
    }

    .mainLogo{
        background-position-y:38% ;
        background-position-x:30% ;
        .logo{
            h1{
                font-size: 2rem;
            }
            img{
                width: 50px;
            }
        }

        .upper{
            font-size: 1.1rem;
        }
        .middle{
            font-size: 1rem;
        }
    }

    .aboutUs{
        .philosophy{
            h2{
                font-size: 1.7rem;
                text-align: center;
            } 
            p{
                font-size: 1rem;
            }
        }
    }

    .offers{
        .photography, .webDesign, .graphicDesign{
            .text{
                h2{
                    font-size: 1.7rem;
                }
                p{
                    font-size: 1rem;
                }
            }
            .image{
                width: 280px;
            }
        }
    }

    .customers{
        .titleCustomers{
            h2{
                text-align: center;
                font-size: 1.7rem;
            }
        }

        .customersLogo{
            ul{
                position: relative;
                right: 10%;
            }
        }
    }

    .contactUs{
        .contactTitle{
            h2{
                text-align: center;
                font-size: 1.7rem;
            }

            p{
                font-size: 1rem;
            }
        }

        form{
            border-radius: 0;
        }
    }
}