/*---------------------
VARIABLES
---------------------*/
//Colors
$backgroundDark: #2e2e2e; //#2f2519;
$backgroundLightDark: #6e6e6e;

$specialText: #fa7d09;
$blend: rgb(255, 189, 66);

$underLineColor: #ff4301;

//Fonts
$unna: 'Unna', serif; //Titles
$exo: 'Exo', sans-serif; //Teaser
$nunito: 'Nunito Sans', sans-serif; //Text


/*---------------------
MIXINS
---------------------*/
@mixin flexBetween($direction) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexAround($direction) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

//All
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar{
        display: none;
    }
}

html { scroll-behavior: smooth; }

//Header
header{
    @include flexBetween(row);
    background-color: $backgroundDark;
    border-bottom: 2px solid $underLineColor;
    padding-top: 1%;
    position: fixed;
    top: 0;
    width: 100%;

    .active{
        color: $specialText;
    }

    .brandName{
        padding-left: 3%;
        padding-bottom: .5%;
        h1{
            color: whitesmoke;
            font-size: 1.5rem;
            font-family: $nunito;

            span{
                color: $specialText;
            }
        }
        
    }

    nav{
       width: 40vw;
        ul{
            list-style: none;
            @include flexAround(row);
            a{
                text-decoration: none;
                color: $backgroundLightDark;
                font-family: $exo;
                font-size: 1.2rem;

                &:hover {
                    color: $specialText;
                }                
            }
        }
    }

    .icons{
        padding-bottom: 1%;
        margin-left:20% ;
        width: 20%;
        svg{
            cursor: pointer;
            margin-right: 10%;
            &:hover{
                fill: $specialText;
            }
        }
    }
}

//about
.mainLogo{
    @include flexCenter(column);
    padding-top: 10%;
    background-color:$specialText;
    background-image: url('../img/linzBg.webp');
    background-blend-mode: multiply;
    background-position-y:95%;
    border-bottom: 2px solid $underLineColor;

    h2{
        color: whitesmoke;
        font-family: $exo;
        text-shadow: 2px 2px 10px $backgroundLightDark;
    }

    .upper{
        margin-top: 1%;
        font-size: 2rem;
        font-weight: 300;
        text-shadow: 0 0 10px $backgroundDark;

        span{
            color: $specialText;
        }
    }

    .middle{
        font-size: 1.4rem;
        font-weight: 300;
        text-shadow: 0 0 10px $backgroundDark;
    }

    .lower{
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 1.2rem;
        font-weight: 200;
        text-shadow: 0 0 10px $backgroundDark;
    }

    .logo{
        @include flexAround(row);
        margin-top: 0;

        h1{
            padding-top: 7%;
            color: whitesmoke;
            font-family: $nunito;
            font-size: 5rem;
            font-weight: bold;
            text-shadow: 1px 1px 10px $backgroundLightDark;

            span{
                color: $specialText;
            }
        }
    }
}

//about us
.aboutUs{
    background-color: $backgroundDark;

    .philosophy{
        @include flexCenter(column);

        h2{
            font-family: $exo;
            font-weight: bolder;
            font-style: italic;
            font-size: 2.5rem;
            color: $specialText;
            border-bottom: 2px dashed $underLineColor;
            margin-top: 10%;
        }

        p{
            font-family: $nunito;
            font-weight: 200;
            font-size: 1.3rem;
            color: whitesmoke;
            width: 60%;
            text-align: center;
            margin-top: 2%;
            margin-bottom: 7%;

            span{
                color: $specialText;
            }
        }
    }
}

//offers
.offers{
    background-color: $backgroundDark;

    .image{
        height: 50vh;
        width: 35vw;
        background-color: #fa7d09;
    }

    .text{
        width: 35%;

        h2{
            font-family: $exo;
            font-weight: bolder;
            font-style: italic;
            font-size: 2.3rem;
            color: $specialText;
        }

        p{
            font-family: $nunito;
            font-weight: 200;
            font-size: 1.1rem;
            color: whitesmoke;
        }

        a{
            text-decoration: none;
            border-radius: 2rem;
            border: 2px solid $specialText;
            color: $specialText;
            padding: 1.5%;
            font-family: $exo;
            font-weight: 200;
            font-size: .8rem;

            &:hover{
                background-color: $specialText;
                color: $backgroundDark;
                font-weight: 300;
            }
        }
    }

    .photography{
        @include flexAround(row);
        padding-top: 20%;

        .image{
            background-image: url('../img/photography.webp');
            background-size: cover;
            background-color: $specialText;
            background-blend-mode: multiply;
            background-position-y: 15%;
        }
    }

    .graphicDesign{
        @include flexAround(row-reverse);
        padding-top: 30%;

        .image{
            background-image: url('../img/graphicDesign.webp');
            background-size: cover;
            background-color: $specialText;
            background-blend-mode: multiply;
            background-position-y: 15%;
        }
    }

    .webDesign{
        @include flexAround(row);
        padding-top: 30%;
        padding-bottom: 20%;

        .image{
            background-image: url('../img/web.webp');
            background-size: cover;
            background-color: $specialText;
            background-blend-mode: multiply;
            background-position-y: 15%;
        }
    }
}

//customers
.customers{
    @include flexCenter(column);
    background-color: $backgroundDark;
    padding-top: 10%;

    .titleCustomers{
        h2{
            font-family: $exo;
            font-weight: bolder;
            font-style: italic;
            font-size: 2.5rem;
            color: $specialText;
            border-bottom: 2px dashed $underLineColor;
        }
    }

    .customersLogo{
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 100vw;
            height:65vh;
            padding-left: 20%;
            padding-top: 5%;
            
            li{
                list-style: none;  

                img{
                    cursor: pointer;
                    border-radius: 1rem;

                    &:hover{
                        box-shadow: 0 0 100px $specialText;
                    }
                }
            }
        }
    }
}

//contact us
.contactUs{
    @include flexCenter(column);
    background-color: $backgroundDark;
    padding-top: 10%;

    .contactTitle{
        @include flexCenter(column);

        h2{
            font-family: $exo;
                font-weight: bolder;
                font-style: italic;
                color: $specialText;
                border-bottom: 2px dashed $underLineColor;
                text-align: center;
                margin-bottom: 3%;
                font-size: 2.5rem;
        }
    
        p{
            font-family: $nunito;
            font-weight: 200;
            font-size: 1.3rem;
            color: whitesmoke;
            width: 51%;
            text-align: center;

            span{
                color: $specialText;
                text-align: center;
                font-size: 1.5rem;
            }
        }
    }
   
    form{
        margin-top: 3%;
        background-color: $specialText;
        padding: 2%;
        border-radius: 2rem;
        margin-bottom: 5%;

        .form-group{
            color: $backgroundDark;
            font-family: $exo;
        }

            button{
                margin-top: 2%;
                padding: 1%;
                border: 2px solid whitesmoke;
                border-radius: 2rem;
                font-weight: 400;
                background-color:$specialText;
                color: whitesmoke;
    
                &:hover{
                    box-shadow: 0 0 10px whitesmoke;
                }
            } 
    }
}

//footer
footer{
    background-color: $backgroundDark;
    color: $specialText;
    text-align: center;
    overflow-y: hidden;
    border-top: 2px solid $underLineColor;
    
    h4{
        font-family: $nunito;
        font-size: 1rem;
        font-weight: bold;
        padding-top: .5%;
    }
}

//modes
.lightModeBackground{
    animation: fadein 1s;
    background-color: whitesmoke;
}

.lightModeBackgroundNav{
    animation: fadein 1s;
    background-color: rgb(221, 221, 221);
}

//scroller
.fastScroller{
    @include flexCenter(column);
    position: fixed;
    right: 1.5%;
    top: 40%;
    .scrollGroup{
        margin: 20% 0;
        border-radius: 50%;
        cursor: pointer;

        &:hover{
            border: 1px solid $backgroundLightDark;
        }

        a{
            .dot{
                background: $backgroundLightDark;
                border-radius: 50%;
                width: 8px;
                height: 8px;
                margin: 5px;
            }
        }
    }

    .connectLine{
        width: 1px;
        height: 12px;
        background-color: $backgroundLightDark;
    }
}

//thanks
.thx{
    width: 100vw;
    height: 100vh;
    @include flexCenter(column);
    background-color: $backgroundDark;

    h1{
        font-family: $exo;
        font-weight: bolder;
        font-style: italic;
        color: $specialText;
        border-bottom: 2px dashed $underLineColor;     
    }

    p{
        color: whitesmoke;
        font-family: $nunito;
        font-weight: 300;
    }

    svg:hover{
        fill: $specialText;
    }
}

//projects
.projectMainSite{
    height: 100vh;
    width: 100vw;
    background-color: $backgroundDark;
    @include flexCenter(column);

    h1{
        font-family: $exo;
        font-weight: bolder;
        font-style: italic;
        color: $specialText;
        border-bottom: 2px dashed $underLineColor;
    }

    svg:hover{
        fill: $specialText;
    }
}

//team
.mainTeamSite{
    height: 100vh;
    width: 100vw;
    background-color: $backgroundDark;
    @include flexCenter(column);

    h1{
        font-family: $exo;
        font-weight: bolder;
        font-style: italic;
        color: $specialText;
        border-bottom: 2px dashed $underLineColor;
    }

    svg:hover{
        fill: $specialText;
    }
}

@keyframes fadein {
    from { opacity: .2; }
    to   { opacity: 1; }
}