<section id="sec1" class="aboutUs">
    <div class="philosophy">
        <h2>Kreative Köpfe aus der Stahlstadt.</h2>
        <p class="contentText">Na öfters hier? Nicht? - Na dann lass uns das mal lieber ändern. <br> Wenn wir uns vorstellen dürfen: Wir sind die Werbeagentur <span>unique|norm</span>. Besser gesagt eine Truppe aus Stahlstadt-Kindern mit einem eisernen Willen, einem Herz aus Gold und einem Kopf voller Ideen zum dahinschmelzen. Nur zu gerne würden wir dich teilhaben lassen. Also worauf wartest du noch? Sieh dich um! 
           <br><span>&#9825;</span><br>oder</p>
        <a href="#sec4">Schreib uns!</a>
    </div> 
</section>