<section class="contactUs">
    <div class="contactTitle">
        <h2>Na, gefällt dir was du siehst?</h2>
        <p>Schreib uns doch eine Nachricht, dann können wir gerne bei einem Kaffee über deine Ideen quatschen! <span>&#9825;</span></p>
    </div>

    <form action="/" method="POST">
        <div class="form-group">
            <label for="name"></label>
            <input required type="text" name="name" id="name" class="form-control" placeholder="Name">
        </div>

        <div class="form-group">
            <label for="email"></label>
            <input required type="text" name="email" id="email" class="form-control" placeholder="E-Mail">
        </div>

        <div class="form-group">
            <label for="msg"></label>
            <textarea required type="text" name="msg" id="msg" rows="5" cols="50" class="form-control" placeholder="Deine Nachricht"></textarea>
        </div>
        <div class="btnContainer">
            <button type="submit">Senden</button>
        </div>
    </form>
</section>