<section id="sec3" class="customers">
    <div class="titleCustomers">
        <h2>Unsere Freunde und Partner.</h2>
    </div>

    <div class="customersLogo">
        <ul>
            <li><img src="img/logoOne.svg" alt="Logo"></li>
            <li><img src="img/logoTwo.svg" alt="Logo"></li>
            <li><img src="img/logoThree.svg" alt="Logo"></li>
            <li><img src="img/logoFour.svg" alt="Logo"></li>
            <li><img src="img/logoFive.svg" alt="Logo"></li>
            <li><img src="img/logoSix.svg" alt="Logo"></li>
        </ul>
    </div>

    <p>Wir bedanken uns für euer Vertrauen und freuen uns auf das nächste fantastische Projekt!<br><span>&#9825;</span></p>
</section>