<div class="fastScroller">
    <div class="scrollGroup">
        <a href="#sec1"><div class="dot"></div></a>
    </div>
    <div class="connectLine"></div>
    <div class="scrollGroup">
        <a href="#sec2"><div class="dot"></div></a>
    </div>
    <div class="connectLine"></div>
    <div class="scrollGroup">
        <a href="#sec3"><div class="dot"></div></a>
    </div>
    <div class="connectLine"></div>
    <div class="scrollGroup">
        <a href="#sec4"><div class="dot"></div></a>
    </div>
    <div class="connectLine"></div>
    <div class="scrollGroup">
        <a href="#sec5"><div class="dot"></div></a>
    </div>
</div>