
<section class="mainLogo">
    <div class="logo">
        <img src="/img/uniqueleft.svg" alt="logo" width="75px">
        <h1 class="headTitle"><span>&lt;</span>unique<span>|</span>norm<span>&gt;</span></h1>
        <img src="/img/uniqueright.svg" alt="logo" width="75px">
    </div>
    <h2 class="upper">Photography <span>|</span> Design <span>|</span> Web</h2>
    <h2 class="middle">Agency</h2>
    <h2 class="lower">since 2021</h2>
</section>
