<section class="offers">
    <article class="photography">
        <div class="text">
            <h2>Fotografie - knips!</h2>
            <p>Haarscharf und auf den Punkt gebracht. Wir sind Foto-Enthusiasten und begleiten sowohl Firmen- als auch private Events mit professionellem Equipment und ohne im Weg zu stehen! Lassen sie uns den Moment einfangen und das Gefühl auf ewig weiterleben lassen! </p>
            <a href="#">mehr lesen</a>
        </div>
        
        <div class="image">
            
        </div>
    </article>

    <article class="graphicDesign">
        <div class="text">
            <h2>Design - wow!</h2>
            <p>Solides Design ist uns ein Dorn im Auge. Wir wollen ein einzigartiges visuelles Erlebnis schaffen, das auch lange nach der Betrachtung Lieder von sich singen lässt. Sprengen wir die Paradigmen der herkömmlichen Standards und steigen gemeinsam aus der Masse empor!</p>
            <a href="#">mehr lesen</a>
        </div>

        <div class="image">

        </div>
    </article>

    <article class="webDesign">
        <div class="text">
            <h2>Web - sexy!</h2>
            <p>Es gibt bei weitem mehr Webseiten im Netz als Europa Einwohner hat. Das ist ein Haufen nicht? Doch kaum eine hat die Standards und die Ausgefallenheit, die du bei uns bekommst. Wordpressvorlagen? - Lass uns doch lieber was ganz Individuelles und Besonderes bauen!</p>
            <a href="#">mehr lesen</a>
        </div>

        <div class="image">

        </div>
    </article>
</section>