/*---------------------
VARIABLES
---------------------*/
/*---------------------
MIXINS
---------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

header .desktopMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #2e2e2e;
  box-shadow: 0px 0px 10px #ff4301;
  padding-top: 1%;
  position: fixed;
  top: 0;
  width: 100%;
}

header .desktopMenu .active {
  color: #fa7d09;
}

header .desktopMenu .brandName {
  padding-left: 3%;
  padding-bottom: .5%;
}

header .desktopMenu .brandName h1 {
  color: whitesmoke;
  font-size: 1.5rem;
  font-family: "Nunito Sans", sans-serif;
}

header .desktopMenu .brandName h1 span {
  color: #fa7d09;
}

header .desktopMenu nav {
  width: 40vw;
}

header .desktopMenu nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

header .desktopMenu nav ul a {
  text-decoration: none;
  color: #6e6e6e;
  font-family: "Exo", sans-serif;
  font-size: 1.2rem;
}

header .desktopMenu nav ul a:hover {
  color: #fa7d09;
}

header .desktopMenu .icons {
  padding-bottom: 1%;
  margin-left: 20%;
  width: 20%;
}

header .desktopMenu .icons svg {
  cursor: pointer;
  margin-right: 10%;
}

header .desktopMenu .icons svg:hover {
  fill: #fa7d09;
}

.mobileMenu {
  display: none;
}

.mainLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10%;
  background-color: #fa7d09;
  background-image: url("../img/linzBg.webp");
  background-size: cover;
  background-blend-mode: multiply;
  background-position-y: 95%;
  border-bottom: 0.5px solid #ff4301;
}

.mainLogo h2 {
  color: whitesmoke;
  font-family: "Exo", sans-serif;
  text-shadow: 2px 2px 10px #6e6e6e;
}

.mainLogo .upper {
  margin-top: 1%;
  font-size: 2rem;
  font-weight: 300;
  text-shadow: 0 0 10px #2e2e2e;
}

.mainLogo .upper span {
  color: #fa7d09;
}

.mainLogo .middle {
  font-size: 1.4rem;
  font-weight: 300;
  text-shadow: 0 0 10px #2e2e2e;
}

.mainLogo .lower {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.2rem;
  font-weight: 200;
  text-shadow: 0 0 10px #2e2e2e;
}

.mainLogo .logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 0;
}

.mainLogo .logo h1 {
  padding-top: 7%;
  color: whitesmoke;
  font-family: "Nunito Sans", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 1px 1px 10px #6e6e6e;
}

.mainLogo .logo h1 span {
  color: #fa7d09;
}

.aboutUs {
  background-color: #2e2e2e;
}

.aboutUs .philosophy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutUs .philosophy h2 {
  font-family: "Exo", sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 2.5rem;
  color: #fa7d09;
  border-bottom: 2px dashed #ff4301;
  margin-top: 10%;
}

.aboutUs .philosophy p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  font-size: 1.3rem;
  color: whitesmoke;
  width: 60%;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
}

.aboutUs .philosophy p span {
  color: #fa7d09;
}

.aboutUs .philosophy a {
  text-decoration: none;
  color: #2e2e2e;
  border-radius: 2rem;
  padding: 1%;
  background-color: #fa7d09;
  font-family: "Exo", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}

.aboutUs .philosophy a:hover {
  box-shadow: 0 0 10px #fa7d09;
}

.offers {
  background-color: #2e2e2e;
}

.offers .image {
  height: 50vh;
  width: 35vw;
  background-color: #fa7d09;
}

.offers .text {
  width: 35%;
}

.offers .text h2 {
  font-family: "Exo", sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 2.3rem;
  color: #fa7d09;
}

.offers .text p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  font-size: 1.1rem;
  color: whitesmoke;
}

.offers .text a {
  text-decoration: none;
  border-radius: 2rem;
  border: 2px solid #fa7d09;
  color: #fa7d09;
  padding: 1.5%;
  font-family: "Exo", sans-serif;
  font-weight: 200;
  font-size: .8rem;
}

.offers .text a:hover {
  background-color: #fa7d09;
  color: #2e2e2e;
  font-weight: 300;
}

.offers .photography {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding-top: 20%;
}

.offers .photography .image {
  background-image: url("../img/photography.webp");
  background-size: cover;
  background-color: #fa7d09;
  background-blend-mode: multiply;
  background-position-y: 15%;
}

.offers .graphicDesign {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  padding-top: 30%;
}

.offers .graphicDesign .image {
  background-image: url("../img/graphicDesign.webp");
  background-size: cover;
  background-color: #fa7d09;
  background-blend-mode: multiply;
  background-position-y: 15%;
}

.offers .webDesign {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding-top: 30%;
  padding-bottom: 20%;
}

.offers .webDesign .image {
  background-image: url("../img/web.webp");
  background-size: cover;
  background-color: #fa7d09;
  background-blend-mode: multiply;
  background-position-y: 15%;
}

.customers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2e2e2e;
  padding: 10% 0;
}

.customers .titleCustomers h2 {
  font-family: "Exo", sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 2.5rem;
  color: #fa7d09;
  border-bottom: 2px dashed #ff4301;
}

.customers .customersLogo ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  height: 65vh;
  padding-left: 20%;
  padding-top: 5%;
}

.customers .customersLogo ul li {
  list-style: none;
}

.customers .customersLogo ul li img {
  cursor: pointer;
  border-radius: 1rem;
}

.customers .customersLogo ul li img:hover {
  box-shadow: 0 0 100px #fa7d09;
}

.contactUs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fa7d09;
  padding-top: 5%;
  box-shadow: 0 0 10px #fa7d09;
}

.contactUs .contactTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactUs .contactTitle h2 {
  font-family: "Exo", sans-serif;
  font-weight: bolder;
  font-style: italic;
  color: #2e2e2e;
  border-bottom: 2px dashed whitesmoke;
  text-align: center;
  margin-bottom: 3%;
  font-size: 2.5rem;
}

.contactUs .contactTitle p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  font-size: 1.3rem;
  color: #2e2e2e;
  width: 51%;
  text-align: center;
}

.contactUs .contactTitle p span {
  color: whitesmoke;
  text-align: center;
  font-size: 1.5rem;
}

.contactUs form {
  padding: 2%;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "name email" "msg msg" "none submitBtn";
}

.contactUs form #name {
  grid-area: name;
  padding-right: 3%;
}

.contactUs form #email {
  grid-area: email;
  padding-left: 3%;
}

.contactUs form #msg {
  grid-area: msg;
}

.contactUs form #submitBtn {
  grid-area: submitBtn;
  display: flex;
  justify-content: flex-end;
}

.contactUs form .form-group {
  font-family: "Exo", sans-serif;
}

.contactUs form button {
  margin-top: 2%;
  padding: 1%;
  border: 2px solid whitesmoke;
  border-radius: 2rem;
  font-weight: 400;
  background-color: #fa7d09;
  color: whitesmoke;
}

.contactUs form button:hover {
  box-shadow: 0 0 10px whitesmoke;
}

footer {
  background-color: #2e2e2e;
  color: #fa7d09;
  text-align: center;
  overflow-y: hidden;
  border-top: 2px solid #ff4301;
}

footer h4 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding-top: .5%;
}

.lightModeBackground {
  animation: fadein .5s;
  background-color: whitesmoke;
}

.lightModeBackgroundNav {
  animation: fadein .5s;
  background-color: #dddddd;
}

.fastScroller {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  right: 1.5%;
  top: 40%;
}

.fastScroller .scrollGroup {
  margin: 20% 0;
  border-radius: 50%;
  cursor: pointer;
}

.fastScroller .scrollGroup:hover {
  border: 1px solid #6e6e6e;
}

.fastScroller .scrollGroup a .dot {
  background: #6e6e6e;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 5px;
}

.fastScroller .connectLine {
  width: 1px;
  height: 12px;
  background-color: #6e6e6e;
}

.thx {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2e2e2e;
}

.thx h1 {
  font-family: "Exo", sans-serif;
  font-weight: bolder;
  font-style: italic;
  color: #fa7d09;
  border-bottom: 2px dashed #ff4301;
}

.thx p {
  color: whitesmoke;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}

.thx svg:hover {
  fill: #fa7d09;
}

.projectMainSite {
  height: 100vh;
  width: 100vw;
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projectMainSite h1 {
  font-family: "Exo", sans-serif;
  font-weight: bolder;
  font-style: italic;
  color: #fa7d09;
  border-bottom: 2px dashed #ff4301;
}

.projectMainSite svg:hover {
  fill: #fa7d09;
}

.mainTeamSite {
  height: 100vh;
  width: 100vw;
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainTeamSite h1 {
  font-family: "Exo", sans-serif;
  font-weight: bolder;
  font-style: italic;
  color: #fa7d09;
  border-bottom: 2px dashed #ff4301;
}

.mainTeamSite svg:hover {
  fill: #fa7d09;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .offers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .offers .photography, .offers .graphicDesign, .offers .webDesign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .offers .photography .text, .offers .graphicDesign .text, .offers .webDesign .text {
    width: 80%;
  }
  .offers .photography .image, .offers .graphicDesign .image, .offers .webDesign .image {
    width: 600px;
    height: 400px;
    margin-top: 5%;
  }
}

@media (max-width: 690px) {
  .desktopMenu {
    display: none;
  }
  .desktopMenu .brandName {
    display: none;
  }
  .desktopMenu .icons {
    display: none;
  }
  .desktopMenu nav {
    display: none;
  }
  .mobileMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5% 5%;
    background-color: #2e2e2e;
    border-bottom: 1px solid #ff4301;
  }
  .mobileMenu .burgerMenu {
    cursor: pointer;
  }
  .mobileMenu .brandNameMobile h1 {
    color: whitesmoke;
  }
  .mobileMenu .brandNameMobile h1 span {
    color: #fa7d09;
  }
  .mobileMenu .mobileNav {
    animation: fadein .5s;
    display: none;
    position: absolute;
    top: 0vh;
    right: 0vw;
    height: 100vh;
    width: 100vw;
    background-color: rgba(37, 37, 37, 0.8);
    margin: 0;
    padding: 0;
  }
  .mobileMenu .mobileNav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
  }
  .mobileMenu .mobileNav ul .closeMenu {
    position: relative;
    right: 5%;
  }
  .mobileMenu .mobileNav ul a {
    text-decoration: none;
    color: whitesmoke;
    padding-right: 8vw;
    font-size: 2rem;
    padding-bottom: 10%;
    padding-top: 10%;
  }
  .mainLogo {
    background-position-y: 38%;
    background-position-x: 30%;
  }
  .mainLogo .logo h1 {
    font-size: 2rem;
  }
  .mainLogo .logo img {
    width: 50px;
  }
  .mainLogo .upper {
    font-size: 1.1rem;
  }
  .mainLogo .middle {
    font-size: 1rem;
  }
  .aboutUs .philosophy h2 {
    font-size: 1.7rem;
    text-align: center;
  }
  .aboutUs .philosophy p {
    font-size: 1rem;
  }
  .offers .photography .text h2, .offers .webDesign .text h2, .offers .graphicDesign .text h2 {
    font-size: 1.7rem;
  }
  .offers .photography .text p, .offers .webDesign .text p, .offers .graphicDesign .text p {
    font-size: 1rem;
  }
  .offers .photography .image, .offers .webDesign .image, .offers .graphicDesign .image {
    width: 280px;
  }
  .customers .titleCustomers h2 {
    text-align: center;
    font-size: 1.7rem;
  }
  .customers .customersLogo ul {
    position: relative;
    right: 10%;
  }
  .contactUs .contactTitle h2 {
    text-align: center;
    font-size: 1.7rem;
  }
  .contactUs .contactTitle p {
    font-size: 1rem;
  }
  .contactUs form {
    border-radius: 0;
  }
}
/*# sourceMappingURL=main.css.map */